html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
  font-family: arial, sans-serif;
  min-height: 616px;
}

.logo img {
  margin: 15% auto 0% auto;
  display: block;
}

section {
  text-align: center;
}

.textbox {
  display: block;
  box-sizing: border-box;
  margin: 2em auto;
  border: 1px solid Whitesmoke;
  box-shadow: 0px 5px 20px 0px LightGray;
  width: 520px;
  height: 40px;
  font-size: medium;
  padding: 1em;
}

.button {
  width: auto;
  height: 34px;
  margin: auto;
  background-color: rgb(242, 242, 242);
}

nav {q
  width: 100%;
}

nav ul {
  position: absolute;
  top: 0px;
  right: 0px;
  left: auto;
  text-align: right;
  padding: 1.5em;
}

li {
  display: inline;
  padding: 0.5em;
  font-size: small;
  font-weight: 100;
}

#sign {
  background-color: #4285f4;
  color: white;
  font-weight: bolder;
  border-radius: 2.5px;
  padding: 0.5em 1em;
}
