html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
  font-family: arial, sans-serif;
  min-height: 100%;
}

 #wrapper {
   min-height: 100px;
   min-width: 450px;
   max-height: 720px;
   margin-bottom: 35px;
 }

.logo img {
  margin: 15% auto 0% auto;
  display: block;
}

.navbar img {
  width: 20px;
  height: 20px;
}

#UK {
  display: block;
  position: absolute;
  margin: 0 57% 0 57%;
  font-size: 16px;
  color: blue;
}

#boo {
  text-align: center;
}

.textbox {
  display: block;
  box-sizing: border-box;
  margin: 2em auto;
  border: 1px solid Whitesmoke;
  box-shadow: 0px 5px 20px 0px LightGray;
  width: 520px;
  height: 40px;
  font-size: medium;
  padding: 1em;
}

.button {
  width: auto;
  height: 34px;
  margin: auto;
  background-color: rgb(242, 242, 242);
  color: rgb(117, 117, 117);
  font-size: 13px;
  font-weight: bold;
  border-style: hidden;
  margin: 0 0.25em;
  padding: 0 1em;
}

nav {q
  width: 100%;
}

nav ul {
  position: absolute;
  top: 0px;
  right: 0px;
  left: auto;
  text-align: right;
  padding: 1.5em;
}

li {
  display: inline;
  padding: 0.5em;
  font-size: small;
  font-weight: 100;
}

#sign {
  background-color: #4285f4;
  color: white;
  font-weight: bolder;
  border-radius: 2.5px;
  padding: 0.5em 1em;
}

footer {
  background-color: #f2f5f9;
  color: #666;
  font-size: smaller;
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  height: 35px;
  width: 100%;
  border: solid 1px lightgray;
  min-width: 724px;
}

#left {
  display: inline;
  text-align: left;
  float: left;
  margin-left: 28px;
  word-spacing: 18px;
  margin-top: 10px;
}

#right {
  display: inline;
  text-align: right;
  float: right;
  margin-right: 28px;
  word-spacing: 18px;
  margin-top: 10px;
}
